My Google Calender AI Agent.json
{
  "name": "My Google Calender AI Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "40cf2f66-4d8c-4057-9b4c-48b5c550e280",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you tell me what all are my events for today?",
        "options": {
          "systemMessage": "=You are a calender  assistant who can easily create a events in the calender.\n\nYou have to provide with the start date date and end date.\n\nThe current date and time is {{ $now }}.\n\nAdditionally you have to provide with summary and other details for the calender which tool might need.\n\nIn case you get the events ,use get event tools and not the create event one ,you can get the multiple events as well.\n\nMake sure you provide responce in a good summarize manner without any links etc."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fe406c77-9154-4dc4-bf37-4c508f8b6691",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aditisharma7138074@gmail.com",
          "mode": "list",
          "cachedResultName": "aditisharma7138074@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "eabc90a7-3dee-486c-8b68-739ff563e015",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8xVew66Y6nVyzrRY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        224
      ],
      "id": "8b4521b6-9d58-4398-a70a-3a249fbed836",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jn73WYJEObnaq7Rr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "00-{{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "649ada22-1c70-437b-bebb-c8fe135c5013",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aditisharma7138074@gmail.com",
          "mode": "list",
          "cachedResultName": "aditisharma7138074@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        208
      ],
      "id": "6c90a60e-c6ba-4af3-a77f-cae21f0e2825",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8xVew66Y6nVyzrRY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-for-calender",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        400
      ],
      "id": "7dfe337e-675c-440a-b756-2716a6359ba3",
      "name": "Webhook",
      "webhookId": "9dbff014-a50c-412a-a08e-daa8525eca39"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Hi I'm good",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        400
      ],
      "id": "6b7b1961-5119-4d8b-99c0-fe1fd497c2fa",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed01d374-9e3e-4379-9bdf-fe63c4070cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "909f1d5545996396622ab7202a482e45e2b04ae442a04785d020d6a479df6e92"
  },
  "id": "jsX3EihcMbJUHGXD",
  "tags": [
    {
      "createdAt": "2025-08-31T07:59:43.376Z",
      "updatedAt": "2025-08-31T07:59:43.376Z",
      "id": "dGZgZieG91vGQybK",
      "name": "Google-Calender"
    }
  ]
}