Personal Assistant using Telegram.json
{
  "name": "Personal Assistant using Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "bc638e37-5597-4be5-8ed3-1bf55467aee8",
      "name": "Telegram Trigger",
      "webhookId": "b0d19af6-9923-4ee1-b7da-7caf3ed1e2ad",
      "credentials": {
        "telegramApi": {
          "id": "mjF82awQhfKwxxT1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant that helps user fullfill user request.\n\nWhen you are asked to perform any task on current date ,please use the current time and date:\n{{ $now }}\n\nYou should output the result and dont include any thing unnecessary .Just make sure that you dont answer users answer politely and ask if any other information is required.\nGive the summary of the same without any links etc.\n\nIf there is something related to calender or schedule , you have to use 'calender_flow_agent' to call the seperate workflow with detailed 'text' (time is {{ $now }}) so that it can work on the query.\n\nAnd for tasks related queries you have to use 'Get many tasks on Google Tasks'"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "3d168666-4820-4682-8551-ae4209162065",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        208
      ],
      "id": "12a811fc-111b-426d-bd4a-1551ea35e041",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jn73WYJEObnaq7Rr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29797b51-c4b2-4578-8335-eedfaf88907b",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "5d8be85f-2c63-42e4-9f55-76ac405a1760",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -64
      ],
      "id": "ac72e0c2-785e-499e-8983-5320fd60365f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        0
      ],
      "id": "722ea4ab-4f91-4b59-b99d-4a63e1012199",
      "name": "Send a text message",
      "webhookId": "6c1eb822-c483-4261-87c0-3e8e313c002c",
      "credentials": {
        "telegramApi": {
          "id": "mjF82awQhfKwxxT1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        208
      ],
      "id": "58dad30e-f9ad-4f11-8384-cf99b8a5384e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "371a8569-ca1a-41cf-bdac-cafef5779f74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71f1101a-bf51-4058-a667-38ade9662fd1",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        0
      ],
      "id": "e97ceae8-84d2-4b59-857c-883da0d1bc97",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "38e70b5b-72fe-4b30-8104-4af1341e8233",
      "name": "Get a file",
      "webhookId": "387ea98e-ee25-49a7-9f54-a6f789fa64dc",
      "credentials": {
        "telegramApi": {
          "id": "MOLhFyyS54E5bKDW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "497860b3-30dc-4351-8583-016880f1e028",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ezPclnGCCQCnjlnu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3524f476-58cb-42c7-8a83-4cbb59d19cb8",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "b9ba8a0d-5003-45f0-8831-a7e2f76d600c",
              "name": "message.chat.id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        192
      ],
      "id": "bca0c043-466f-483e-9f1c-ee488a1e4f67",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "description": "This workflow helps to create events in google calender or get events from the calender.",
        "workflowId": {
          "__rl": true,
          "value": "jsX3EihcMbJUHGXD",
          "mode": "list",
          "cachedResultName": "My Google Calender AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        208
      ],
      "id": "9395dd6f-49e3-4d50-b10f-0fd1847699d2",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDk2ODg1MDQ2MDY1MTE3MzgzNjA6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1360,
        208
      ],
      "id": "ab19cc31-98ef-4474-addb-711d7a482e1a",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "kcQlx1lwE40agDvm",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59712a00-edaa-4c85-8e8c-4780977648f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "909f1d5545996396622ab7202a482e45e2b04ae442a04785d020d6a479df6e92"
  },
  "id": "xdS7ob7KZRtM1X1D",
  "tags": [
    {
      "createdAt": "2025-08-28T08:48:10.315Z",
      "updatedAt": "2025-08-28T08:48:10.315Z",
      "id": "IrUMIZJOtPfwhJv8",
      "name": "Telegram"
    },
    {
      "createdAt": "2025-08-28T08:48:31.919Z",
      "updatedAt": "2025-08-28T08:48:31.919Z",
      "id": "bn5G1hVMNkiuiYzK",
      "name": "assistant"
    }
  ]
}